.notfound {
  width: 100vw;
  height: 100vh;
  position: relative;

  .content {
    width: 60vw;
    height: 60vh;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;

    .left {
      flex: 1;
      width: 50%;
      border-right: 1px solid black;
      font-size: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      .num {
        display: flex;
        align-items: center;
        b {
          width: 100px;
          height: 100px;
          display: inline-block;
          background: palevioletred;
          border-radius: 100px;
        }
      }
    }
    .right {
      flex: 1;
      width: 50%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .btn {
        position: absolute;
        bottom: 15vh;
        font-size: 20px;
        color: palevioletred;
        cursor: pointer;
      }
    }
  }
}
